# Sanitize Data

Rearranges and re-indexes the data set to chronologically ascending order.

In [11]:
import pandas as pd

In [12]:
# Specify the filename.
filename = 'aapl-adjusted-daily-compact.csv'

In [13]:
# Specify the read and write paths.
input='./../data/raw/{}'.format(filename)
output='./../data/clean/{}'.format(filename)

In [14]:
# Read data from file.
df = pd.read_csv('{}'.format(input))
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2020-10-14,121.00,123.03,119.6200,121.19,121.19,151062308,0.0,1.0
1,2020-10-13,125.27,125.39,119.6500,121.10,121.10,262330451,0.0,1.0
2,2020-10-12,120.06,125.18,119.2845,124.40,124.40,240226769,0.0,1.0
3,2020-10-09,115.28,117.00,114.9200,116.97,116.97,100506865,0.0,1.0
4,2020-10-08,116.25,116.40,114.5901,114.97,114.97,83477153,0.0,1.0

In [15]:
# Save the numerical index.
idx = df.index.values

In [16]:
# Reverse the data set.
df = df.iloc[::-1]
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
99,2020-05-26,323.50,324.24,316.50,316.73,79.0367,31380454,0.0,1.0
98,2020-05-27,316.14,318.71,313.09,318.11,79.3810,28236274,0.0,1.0
97,2020-05-28,316.77,323.44,315.63,318.25,79.4160,33449103,0.0,1.0
96,2020-05-29,319.25,321.15,316.47,317.94,79.3386,38399532,0.0,1.0
95,2020-06-01,317.75,322.35,317.21,321.85,80.3143,20254653,0.0,1.0

In [17]:
# Reapplies the original index.
df.index = idx
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2020-05-26,323.50,324.24,316.50,316.73,79.0367,31380454,0.0,1.0
1,2020-05-27,316.14,318.71,313.09,318.11,79.3810,28236274,0.0,1.0
2,2020-05-28,316.77,323.44,315.63,318.25,79.4160,33449103,0.0,1.0
3,2020-05-29,319.25,321.15,316.47,317.94,79.3386,38399532,0.0,1.0
4,2020-06-01,317.75,322.35,317.21,321.85,80.3143,20254653,0.0,1.0

In [18]:
# Check for any missing values.
df.isnull().values.any()

False

In [19]:
# Save to file.
df.to_csv('{}'.format(output), index=False)

In [20]:
# Verify saved file.
df = pd.read_csv('{}'.format(output))
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2020-05-26,323.50,324.24,316.50,316.73,79.0367,31380454,0.0,1.0
1,2020-05-27,316.14,318.71,313.09,318.11,79.3810,28236274,0.0,1.0
2,2020-05-28,316.77,323.44,315.63,318.25,79.4160,33449103,0.0,1.0
3,2020-05-29,319.25,321.15,316.47,317.94,79.3386,38399532,0.0,1.0
4,2020-06-01,317.75,322.35,317.21,321.85,80.3143,20254653,0.0,1.0